<header class="header-outer">
	<div class="header-inner responsive-wrapper">
	  <div class="header-logo">
		<img src="/assets/logo-pyme.png" alt="Logo" />
	  </div>
  
	  <nav class="header-navigation">
		<a routerLink="/" routerLinkActive="active">Inicio</a>
		<a routerLink="/familiar" routerLinkActive="active">Familiar</a>
		<a routerLink="/tcg" routerLinkActive="active">Tcg</a>
		<a routerLink="/mayores" routerLinkActive="active">Mayores</a>
		<a routerLink="/nacional" routerLinkActive="active">Nacional</a>
		<button>Menu</button>
	  </nav>
	</div>
  </header>